.dice {
    flex-basis: 40%;

    .roll {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80px;
        width: 80px;
        background-color: $c-white;
        border: 2px solid $c-black;
        border-radius: 15px;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            background-color: $c-black;
            border: 0px solid $c-black;
            border-radius: 50px;
        }

        &.num1 span {
            display: none;

            &:nth-child(1) {
                top: 50%;
                left: 50%;
                display: block;
            }
        }

        &.num2 span {
            display: none;

            &:nth-child(1) {
                top: 25%;
                left: 25%;
                display: block;
            }

            &:nth-child(2) {
                top: 75%;
                left: 75%;
                display: block;
            }

        }

        &.num3 span {
            display: none;

            &:nth-child(1) {
                top: 25%;
                left: 25%;
                display: block;
            }

            &:nth-child(2) {
                top: 50%;
                left: 50%;
                display: block;
            }

            &:nth-child(3) {
                top: 75%;
                left: 75%;
                display: block;
            }
        }

        &.num4 span {
            display: none;

            &:nth-child(1) {
                top: 25%;
                left: 25%;
                display: block;
            }

            &:nth-child(2) {
                top: 25%;
                left: 75%;
                display: block;
            }

            &:nth-child(3) {
                top: 75%;
                left: 25%;
                display: block;
            }

            &:nth-child(4) {
                top: 75%;
                left: 75%;
                display: block;
            }
        }

        &.num5 span {
            display: none;

            &:nth-child(1) {
                top: 25%;
                left: 25%;
                display: block;
            }

            &:nth-child(2) {
                top: 25%;
                left: 75%;
                display: block;
            }

            &:nth-child(3) {
                top: 75%;
                left: 25%;
                display: block;
            }

            &:nth-child(4) {
                top: 75%;
                left: 75%;
                display: block;
            }

            &:nth-child(5) {
                top: 50%;
                left: 50%;
                display: block;
            }
        }


        &.num6 span {
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }

            &:nth-child(2) {
                top: 25%;
                left: 75%;
            }

            &:nth-child(3) {
                top: 75%;
                left: 25%;
            }

            &:nth-child(4) {
                top: 75%;
                left: 75%;
            }

            &:nth-child(5) {
                top: 50%;
                left: 25%;
            }

            &:nth-child(6) {
                top: 50%;
                left: 75%;
            }
        }
    }
}